:root {
  --color-cream: #fffaf0;
  --color-mid-cream: #f2e8dc;
  --color-beige: #e5d2b8;
  --color-mud-brown: #725c3a;
  --color-dark-brown: #3a2b1f;
  --color-light-green: #b3b792;
  --color-mid-green: #809671;
  --color-dark-green: #323c31;
  --color-brass: #ffe571;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--color-dark-green);
  color: white;
  position: relative;
  height: 2000px;
}

.color {
  height: 120px;
  width: 100%;
}

header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 32px 17px 32px 17px;
  text-align: center;
  background-color: 0;
  z-index: 1000;
  padding-top: 32px;
  transition: all 0.2s;
}

.logosplash {
  opacity: 1;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background-color: #323c31;
  z-index: 1000;
  pointer-events: none;
  animation: fadeout 2s forwards 3s;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.logo {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: center;
  font-size: 10em;
  color: var(--color-dark-green);
  animation: fadeinandgrow 3s forwards, moveLogo 1s forwards 3s;
  z-index: 1001;
  margin-top: 0;
  transition: all 0.2s;
}

.scrolled {
  background-color: var(--color-dark-green);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  height: 100px;
}

.scrolled .header-content a {
  color: white;
  transition: all 0.2s;
  font-size: 1.5em;
}

.scrolled .header-content .logo {
  font-size: 0.8em;
  margin-top: -10px;
  transition: all 0.2s;
}

.scrolled .header-content .logo:before {
  color: white;
  font-size: 0.8em;
  transition: all 0.2s;
}

#logo2 {
  opacity: 0;
  z-index: 1002;
  background: linear-gradient(
    to top right,
    #4a310c,
    #ddae48,
    #ffe789,
    #ddae48,
    #4a310c
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeinandgrow 3s forwards, moveLogo 1s forwards 3s,
    fadeOut 1s forwards 3s;
}

header.scrolled .logo {
  font-size: 0.8em; /* New size when scrolled */
  transition: all 0.2s;
}

#space-left {
  margin-right: 80px;
}

#space-right {
  margin-left: 80px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeinandgrow {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

@keyframes moveLogo {
  0% {
    font-size: 10em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    font-size: 5em;
    top: 17px; /* Adjust according to your header padding */
    left: 50%;
    transform: translateX(-50%);
  }
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  transition: all 0.2s;
}

.header-content a {
  position: relative;
  z-index: 1;
  color: var(--color-dark-green);
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.2s;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(.//assets/images/banners/splash.png);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  height: 100vh;
  border-bottom: 10px solid;
  border-image: linear-gradient(
      to right,
      #4a310c,
      #ddae48,
      #ffe789,
      #ddae48,
      #4a310c
    )
    1;
}

.splashbgimg {
  position: absolute;
  opacity: 0.5;
  max-height: 80%;
  max-width: 80%;
  z-index: 1;
}

.splash-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  max-width: 75%;
}

.splash-content-left img {
  position: relative;
  z-index: 2;
  height: 700px;
}

.splash-content-left {
  width: 40%;
}

.splash-content-right {
  width: 50%;
}

.splash-content-right h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  color: var(--color-cream);
}

.splash-content-right p {
  font-size: 1.3em;
  font-family: 'Cormorant Garamond', serif;
  color: var(--color-cream);
}

.splash-content-right-buttons {
  font-size: 1.5rem;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  transition: all 0.2s;
}

.splash-content-right-buttons p {
  font-size: 1.3em;
  color: var(--color-cream);
}

.splash-content-right-buttons a {
  color: var(--color-cream);
  font-size: 1em;
  padding: 10px 20px;
  border: 2px solid var(--color-cream);
  border-radius: 5px;
  color: var(--color-cream);
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s;
  text-decoration: none;
}

.splash-content-right-buttons a:hover {
  background-color: var(--color-cream);
  color: var(--color-dark-green);
}

#amazon {
  border: none;
  color: gray;
  font-size: 0.8em;
}

.embellishment {
  opacity: 0;
  top: 96vh;
  left: 30%;
  z-index: 10;
  scale: 1;
  width: 40%;
  color: #ffe789;
}

/* change scrollbar color and style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark-green);
}

::-webkit-scrollbar-thumb {
  background: var(--color-mid-green);
  border-radius: 10px;
  margin: 2px;
  animation: changeColor 0.4s 1s forwards; /* Reduced delay for testing */
  transition: all 0.2s;
}
